! ------------------------------------------------------------------------------
! Xft
! ------------------------------------------------------------------------------
Xft.dpi:        96
Xft.antialias:  true
Xft.autohint:		true
Xft.hinting:    true
Xft.hintstyle: 	hintslight
Xft.lcdfilter:	lcddefault
Xft.rgba:       rgb

! ------------------------------------------------------------------------------
! ROFI
! ------------------------------------------------------------------------------
rofi.font: Hack regular 11
rofi.fullscreen: true
rofi.lines: 6
rofi.line-margin: 10
rofi.terminal:	gnome-terminal
rofi.separator-style: none
!rofi.run-shell-command: {terminal} -e sh -c 'tmux new-session "{cmd}"'
rofi.opacity: 90
rofi.tokenize: false
rofi.padding: 300px
rofi.bw: 0
! ------------------------------------------------------------------------------
! ROFI Color theme
! ------------------------------------------------------------------------------
rofi.color-enabled:     true
rofi.color-window:      #2f1e2e, argb:0ef6155, argb:4eef6155
rofi.color-normal:      argb:a02f1e2e, #b4b4b4, argb:a02f1e2e, argb:54815ba4, #ffffff
rofi.color-active:      argb:272f1e2e, #815ba4, argb:2f2f1e2e, argb:54815ba4, #815ba4
rofi.color-urgent:      argb:272f1e2e, #ef6155, argb:2f2f1e2e, argb:54815ba4, #ef6155
rofi.separator-style:   solid
